.pasta-block {
  background: #5e6977;
  text-align: center;
  position: relative;
  padding-top: 120px;
  padding-bottom: 110px;
}
.pasta-block__btn {
  background: #7dc855;
  border: 2px solid #7dc855;
  color: #fff;
  font-weight: 300;
  padding: 22px 40px ;
}
.pasta-block .main-title {
  color: #fff;
  margin-top: 0;
}
.pasta-block .subtitle {
  color: #e5e6e8;
  margin-bottom: 42px;
}
.pasta-block__labels {
  display: flex;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap;
}
.pasta-block__labels img {
  width: auto;
  height: inherit;
}
.pasta-block__nota {
  font-size: 18px;
  padding-top: 80px;
  margin-bottom: 42px;
}
